* {
  list-style: none;
  margin: 0;
}

:root {
  --white-color: #fff;
  --tomato: #ff5733;
}

.fix-header {
  position: fixed;
  width: 100%;
}
.navbar {
  height: 40px;
  background-color: rgb(14, 14, 58);
  color: var(--white-color);
  padding-top: 20px;
}

.plural-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img,
.navbar-two img {
  width: 100px;
}
.navbar ul {
  display: inline-flex;
}
.navbar ul li {
  margin-right: 30px;
}

.navbar a {
  text-decoration: none;
  color: var(--white-color);
}

.navbar .link-bottom:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--tomato);
}

.navbar-two {
  height: 70px;
  background-color: rgb(25, 25, 70);
  color: var(--white-color);
}

.skills-head {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.skills-head .list ul {
  display: inline-flex;
}

.skills-head .list ul li {
  margin-right: 10px;
}

.skills-head .buttons ul li {
  display: inline-flex;
  margin-right: 10px;
}

.contact-btn {
  width: 130px;
  background-color: rgb(25, 25, 70);
  padding: 10px;
  border-radius: 20px;
  border: 3px solid rgb(88, 88, 146);
}

.contact-btn:hover {
  background-color: rgb(69, 69, 141);
  cursor: pointer;
  transition: 700ms background-color;
}

.free-btn {
  width: 130px;
  background-color: rgb(221, 69, 69);
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: var(--white-color);
}

.free-btn:hover {
  background-color: rgb(207, 65, 65);
  cursor: pointer;
  transition: 700ms background-color;
}

.where-teams {
  background-image: linear-gradient(to right, rgb(56, 2, 107), rgb(25, 25, 70));
  padding: 100px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(25, 25, 70);
  border-radius: 40px;
  width: 100%;
}

.card-text {
  padding: 50px;
  color: var(--white-color);
}

.card-text h4,
h1,
p {
  padding: 20px;
}

.card-text h4 {
  color: rgb(248, 98, 123);
}

.card-text h1 {
  font-size: 40px;
}

.card-btn {
  display: flex;
  align-items: center;
}
.card-btn span,
button {
  margin-left: 20px;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.popular {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--white-color);
  padding: 50px;
}
.popular .topics {
  padding: 10px;
}
.topics a {
  display: inline-block;
  margin-top: 20px;
}

.languages-div {
  display: flex;
}

.languages .languages-div div {
  margin-right: 40px;
  border-radius: 10px;
  transition: 1000s bottom;
  display: inline;
}

.languages .languages-div div:hover {
  position: relative;
  bottom: 10px;
  border: 2px solid var(--tomato);
}

.small-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

}

.play-card,
.million-card,
.customers-card,
.percent-card {
  width: 260px;
  height: 150px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.play-card img,
.million-card img,
.customers-card img,
.percent-card img {
  width: 50px;
  height: 50px;
}

.section-brands {
  padding: 50px 50px;
}

.section-brands h3 {
  text-align: center;
}

.brands img {
  height: 40px;
  margin-top: 20px;
}
.brands {
  display: inline-flex;
  grid-template-columns: repeat(5, 1fr);
}
.upskill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.upskill-left h1 {
  font-size: 40px;
}

.learn-btn {
  background-color: white;
  border-radius: 20px;
  width: 150px;
  border: 1px solid black;
}

.upskill img {
  width: 90%;
}

.upskill-btn {
  display: flex;
}

.upskill-left a {
  color: var(--tomato);
  margin-left: 20px;
}

.investment {
  background-color: rgb(25, 25, 70);
  color: var(--white-color);
  padding: 50px;
  text-align: center;
}

.percentages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 50px;
}

.percentages img {
  width: 200px;
}

.percentages p {
  font-size: 20px;
}

.returns h1 {
  font-size: 40px;
}

.returns p {
  color: rgb(199, 199, 199);
}

.customers-case {
  background-color: #f7f7f7;
}
.customers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 7rem;
  gap: 100px;
}
.stories a,
.fujitsu-card a,
.maritz-card a {
  display: inline-block;
  color: var(--tomato);
}
.stories h3 {
  color: var(--tomato);
}

.stories h2,
.stories h4,
.fujitsu-card h4,
.maritz-card h4,
.stories div,
.fujitsu-card div,
.maritz-card div,
.stories a,
.fujitsu-card a,
.maritz-card a {
  padding-top: 30px;
}

.stories,
.fujitsu-card,
.maritz-card {
  width: 80%;
  padding: 40px;
  border-radius: 20px;
}
.fujitsu-card img,
.maritz-card img {
  width: 150px;
}

.fujitsu-card,
.maritz-card {
  background-color: rgb(255, 255, 255);
}
.exp-img img {
  width: 95%;
}
.experience h1 {
  margin-top: 5rem;
}
.skill-case {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 5rem;
}

.experience-list ul li {
  padding: 10px;
  border-bottom: 1px solid gray;
  color: rgb(41, 48, 45);
}

.experience-list ul li:hover {
  background-color: rgb(209, 204, 196);
}

.experience-list ul li a {
  display: flex;
  justify-content: space-between;
}

.experience h1 {
  font-size: 35px;
}

.for-courses {
  background-color: rgb(25, 25, 70);
  color: white;
}
.course-case {
  padding-top: 10rem;
}

.code-course {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.code-course img {
  width: 90%;
}
.code-course .master div {
  margin-top: 30px;
  font-size: 20px;
}

.free-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.free-courses a {
  color: rgb(253, 74, 134);
}

.free-courses a::after {
  content: ">";
  position: relative;
  top: 2px;
}

.free-courses a:hover {
  margin-right: 10px;
  transition: 1s all;
}

.platform-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.orange-card,
.green-card,
.purple-card {
  background-color: var(--white-color);
  color: black;
  padding: 13px 0px 10px 20px;
  border-radius: 20px;
}
.orange-card h4,
.green-card h4,
.purple-card h4,
.orange-card div,
.green-card div,
.purple-card div,
.orange-card span,
.green-card span,
.purple-card span {
  padding-top: 20px;
  font-size: 19px;
}

.platform-cards span {
  display: inline-flex;
}

.platform-cards img {
  width: 95%;
}

.platform-cards span {
  color: var(--tomato);
}

@media (max-width: 576px) {
  .navbar {
    font-size: x-small;
  }
  .navbar-two {
    height: 100px;
  }
  .plural-head {
    display: flex;
  }

  .list {
    display: inline-flex;
    align-items: center;
  }

  .buttons {
    display: flex;
    justify-content: end;
  }
  .list ul li {
    margin-right: 0px;
    font-size: 9px;
  }
  .skills-head {
    display: inline-block;
  }

  .where-teams {
    padding: 0;
    padding-top: 10rem;
  }

  .card {
    border-radius: 0;
  }
  .card-text h1 {
    font-size: 20px;
  }

  .contact-btn {
    width: 70px;
    font-size: x-small;
  }
  .free-btn {
    width: 70px;
    font-size: x-small;
  }

  .languages-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .languages-div div {
    margin-top: 30px;
  }

  .popular {
    padding: 10px;
  }

  .brands img {
    height: 20px;
  }

  #order-skill {
    order: 1;
  }
  .small-cards {
padding: 12px 0px 42px 72px ;
  }

  .card,
  .popular,
  .customers,
  .skill-case,
  .upskill,
  .percentages,
  .small-cards,
  .code-course,
  .platform-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .code-course {
    padding: 20px;
  }
  .exp-img {
    margin-left: 50px;
  }
  .experience-list {
    width: 100%;
  }
  .free-courses {
    display: block;
  }
  .free-courses a {
    margin-left: 20px;
  }
}
