* {
  list-style: none;
  margin: 0;
}

:root {
  --white-color: #fff;
  --tomato: #ff5733;
}

.fix-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.navbar {
  height: 40px;
  background-color: rgb(14, 14, 58);
  color: var(--white-color);
  padding-top: 20px;
}

.plural-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img {
  width: 100px;
}

.navbar ul li {
  margin-right: 30px;
}
.navbar-two img {
  height: 20px;
  width: 70px;
}
.plural-head .link-bottom {
  text-decoration: none;
  color: var(--white-color);
}

.navbar .link-bottom:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--tomato);
}

.navbar-two {
  height: 100px;
  background-color: rgb(25, 25, 70);
  color: var(--white-color);
}

.skills-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.skills-head ul {
  align-items: center;
}

.skills-head ul li {
  margin-right: 59px;
}

.skills-head .buttons ul li {
  margin-right: 10px;
}
.contact-btn {
  width: 130px;
  background-color: rgb(25, 25, 70);
  padding: 10px;
  border-radius: 20px;
  border: 3px solid rgb(88, 88, 146);
}

.contact-btn:hover {
  background-color: rgb(69, 69, 141);
  cursor: pointer;
  transition: 700ms background-color;
}

.free-btn {
  width: 150px;
  background-color: rgb(221, 69, 69);
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: var(--white-color);
}

.free-btn:hover {
  background-color: rgb(207, 65, 65);
  cursor: pointer;
  transition: 700ms background-color;
}

.where-teams {
  background-image: linear-gradient(to right, rgb(56, 2, 107), rgb(25, 25, 70));
  padding: 150px 0;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(25, 25, 70);
  border-radius: 40px;
  width: 100%;
}

.card-text {
  padding: 50px;
  color: var(--white-color);
}

.card-text h4 {
  padding: 20px;
}
p,
h1 {
  padding: 20px;
}

.card-text h4 {
  color: rgb(248, 98, 123);
}

.card-text h1 {
  font-size: 40px;
}

.card-btn {
  display: flex;
  align-items: center;
}
.card-btn span,
button {
  margin-left: 20px;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 20px;
}

.popular {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--white-color);
  padding: 50px;
}

.topics a {
  display: inline-block;
  margin-top: 20px;
}
.languages-logo ul {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.languages-logo ul li {
  margin-right: 10px;
  transition: bottom 2s;
}

.languages-logo ul li img:hover {
  position: relative;
  bottom: 20px;
}

.small-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}

.play-card,
.million-card,
.customers-card,
.percent-card {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.card-element {
  display: flex;
  justify-content: start;
  align-items: center;
}

.play-card img,
.million-card img,
.customers-card img,
.percent-card img {
  width: 40px;
  height: 40px;
}

.section-brands {
  padding: 50px 50px;
}

.brands img {
  height: 40px;
  margin-top: 20px;
}
.brands {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.upskill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
}

.upskill-left h1 {
  font-size: 40px;
}

.learn-btn {
  background-color: white;
  border-radius: 20px;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
}

.upskill img {
  width: 90%;
}

.upskill-left a {
  color: var(--tomato);
  margin-left: 20px;
}

.investment {
  background-color: rgb(25, 25, 70);
  color: var(--white-color);
  padding: 50px;
}

.percentages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
}

.percentages img {
  width: 200px;
}

.percentages p {
  font-size: 20px;
}

.returns h1 {
  font-size: 40px;
}

.returns p {
  color: rgb(199, 199, 199);
}

.customers-case {
  background-color: #f7f7f7;
}
.customers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 7rem;
  gap: 20px;
}
.stories a,
.fujitsu-card a,
.maritz-card a {
  display: inline-block;
  color: var(--tomato);
}
.stories h3 {
  color: var(--tomato);
}

.stories h2,
.stories h4,
.fujitsu-card h4,
.maritz-card h4,
.stories div,
.fujitsu-card div,
.maritz-card div,
.stories a,
.fujitsu-card a,
.maritz-card a {
  padding-top: 30px;
}

.stories,
.fujitsu-card,
.maritz-card {
  padding: 40px;
  border-radius: 20px;
}
.fujitsu-card img,
.maritz-card img {
  width: 150px;
}

.fujitsu-card,
.maritz-card {
  background-color: rgb(255, 255, 255);
}
.exp-img img {
  width: 95%;
}
.experience h1 {
  margin-top: 5rem;
}
.skill-case {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 5rem;
}

.experience-list ul li {
  padding: 10px;
  border-bottom: 1px solid gray;
  color: rgb(41, 48, 45);
}

.experience-list ul li:hover {
  background-color: rgb(209, 204, 196);
}

.experience h1 {
  font-size: 35px;
}

.for-courses {
  background-color: rgb(25, 25, 70);
  color: white;
}
.course-case {
  padding-top: 4rem;
}

.code-course {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.code-course img {
  width: 90%;
}
.code-course .master div {
  margin-top: 30px;
  font-size: 20px;
}

.free-courses {
  margin-top: 40px;
  padding: 20px;
}
.free-courses a,
.our-solutions a {
  color: rgb(253, 74, 134);
}

.free-courses a::after {
  content: ">";
  position: relative;
  top: 2px;
}

.free-courses a:hover {
  margin-right: 10px;
  transition: 1s all;
}

.platform-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 5rem;
}

.orange-card,
.green-card,
.purple-card {
  background-color: var(--white-color);
  color: black;
  padding: 13px 0px 12px 20px;
  border-radius: 20px;
}
.orange-card h4,
.green-card h4,
.purple-card h4,
.orange-card div,
.green-card div,
.purple-card div,
.orange-card span,
.green-card span,
.purple-card span {
  padding-top: 20px;
  font-size: 19px;
}
.fa-chart-simple {
  margin-left: 20px;
}

.platform-cards img {
  width: 95%;
}

.platform-cards span {
  color: var(--tomato);
}

.our-solutions {
  background-color: rgb(14, 14, 58);
  color: var(--white-color);
}

.our-solutions button {
  font-size: 20px;
}
.collapsible {
  background-color: rgb(14, 14, 58);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(177, 173, 173);
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.content p {
  font-size: 18px;
}

.solution a,
.coll-solutions a {
  position: relative;
  left: 20px;
}

.col-btn {
  display: flex;
  justify-content: space-evenly;
}

.col-btn i {
  position: relative;
  top: 35px;
  right: 20px;
}

.plans-pricing {
  background-image: linear-gradient(to right, rgb(14, 14, 58), rgb(46, 8, 46));
  color: var(--white-color);
}

.plans {
  padding: 5rem;
}

.plans-cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 10px;
  justify-content: center;
}

.starter,
.professional,
.enterprise {
  background-color: white;
  padding: 2px 10px;
  border-radius: 30px;
  color: black;
  max-width: 300px;
}

.starter h1,
.professional h1,
.enterprise h1 {
  font-size: 20px;
}

.starter div,
.professional div,
.enterprise div {
  padding: 15px;
}

.price {
  font-size: 50px;
}

.starter button,
.professional button,
.enterprise button {
  color: var(--white-color);
  background-color: #ff335f;
  width: 140px;
  height: 50px;
  border-radius: 20px;
  border: none;
}

.professional a,
.enterprise a {
  color: #ff335f;
}

.chat-case {
  background: linear-gradient(85deg, rgb(123, 3, 192), rgb(1, 1, 83));
  color: var(--white-color);
}

.contact-case {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding-top: 10rem;
  gap: 20px;
}

.ask-case p {
  font-size: 20px;
}
.ask-case h1 {
  font-size: 50px;
}

.form-case {
  border-radius: 30px;
}
.form-case div {
  padding-top: 1rem;
}

.contact-case input[type="text"],
select {
  width: 100%;
  height: 30px;
  background-color: rgb(37, 37, 112);
  border: none;
  margin-top: 20px;
  outline: none;
}

select {
  color: var(--white-color);
}

.form-case {
  background-color: rgb(14, 14, 58);
  padding: 3rem;
  margin-bottom: 6rem;
}

.form-case input[type="checkbox"] {
  width: 14px;
}
.checkboxes {
  display: flex;
  align-items: center;
  padding-top: 0px;
}
.inputs a {
  color: var(--tomato);
}
.inputs button {
  margin: 20px;
}

footer {
  background-color: rgb(25, 25, 70);
  padding-top: 5rem;
}

.footer-case {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  border-bottom: 1px solid rgb(96, 96, 143);
}

.footer-case h2 {
  color: white;
}

.footer-case ul li {
  color: rgb(96, 96, 143);
  padding: 5px;
  transition: 500ms color;
  cursor: pointer;
}
.support,
.community,
.company,
.industries ul li:hover {
  color: rgb(210, 217, 221);
}

.news-input,
.social-media {
  padding-top: 20px;
}

.social-media ul li {
  padding: 10px;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  padding: 50px 0;
}
.footer-image {
  display: flex;
  align-items: center;
}

.footer-header h6 {
  margin-right: 22px;
  color: rgb(96, 96, 143);
}

.footer-end code {
  margin-left: 5px;
}

.newsletter {
  width: 400px;
}
.newsletter input[type="text"] {
  background-color: rgb(43, 43, 110);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(60, 60, 134);
  outline: none;
}
/* mobile */
@media (max-width: 576px) {
  .navbar {
    font-size: x-small;
  }
  .navbar ul li {
    margin-right: 5px;
  }
  .navbar-two {
    height: 80px;
  }
  .skills-head ul li {
    font-size: 7px;
    margin-right: 7px;
  }
  .buttons {
    display: none;
  }

  .skills-head {
    align-items: center;
  }

  .where-teams {
    padding:5rem 0;
  }
  .popular {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }

  .card {
    border-radius: 0;
  }
  .card-text h1 {
    font-size: 20px;
  }
  .languages-logo ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .languages-logo ul li {
    margin: 33px 10px;
  }

  .brands {
    grid-template-columns: repeat(2, 1fr);
  }
  .brands img {
    height: 20px;
  }

  #order-skill {
    order: 1;
  }

  .card,
  .popular,
  .customers,
  .skill-case,
  .upskill,
  .percentages,
  .code-course,
  .platform-cards,
  .footer-case {
    grid-template-columns: repeat(1, 1fr);
  }
  .customers {
    padding: 20px;
  }
  .small-cards {
    grid-template-columns: repeat(1, 200px);
    padding: 3rem;
  }
  .contact-case {
    grid-template-columns: repeat(1, 340px);
  }

  .plans-cards {
    grid-template-columns: repeat(1, 300px);
  }

  .code-course {
    padding: 20px;
  }
  .skill-case {
    margin-left: 10px;
  }
  .experience-list ul {
    padding: 0;
  }
  .free-courses,
  .free-btn {
    display: block;
  }
  .learn-btn {
    margin-top: 5px;
  }
  .free-courses a {
    margin-left: 20px;
  }
  .course-case {
    padding-top: 0;
  }

  .platform-cards {
    padding: 20px;
  }
  .plans img {
    width: 40%;
  }
  .ask-case h1 {
    font-size: 30px;
  }
  .footer-end {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 20px;
  }
  .footer-image {
    padding-bottom: 12px;
  }

  .newsletter {
    max-width: 370px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar {
    font-size: x-small;
  }
  .navbar ul li {
    margin-right: 5px;
  }
  .navbar-two {
    height: 80px;
  }
  .skills-head ul li {
    font-size: 7px;
    margin-right: 7px;
  }
  .buttons {
    display: none;
  }

  .skills-head {
    align-items: center;
  }

  .where-teams {
    padding: 0;
    padding-top: 5rem;
  }
  .popular {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }

  .card {
    border-radius: 0;
  }
  .card-text h1 {
    font-size: 20px;
  }
  .languages-logo ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .languages-logo ul li {
    margin: 33px 10px;
  }

  .brands {
    grid-template-columns: repeat(2, 1fr);
  }
  .brands img {
    height: 20px;
  }

  #order-skill {
    order: 1;
  }

  .card,
  .popular,
  .customers,
  .skill-case,
  .upskill,
  .percentages,
  .code-course,
  .platform-cards,
  .footer-case {
    grid-template-columns: repeat(1, 1fr);
  }
  .small-cards {
    grid-template-columns: repeat(1, 200px);
    padding: 3rem;
  }
  .contact-case {
    grid-template-columns: repeat(1, 340px);
  }

  .plans-cards {
    grid-template-columns: repeat(1, 300px);
  }

  .code-course {
    padding: 20px;
  }
  .skill-case {
    margin-left: 10px;
  }
  .experience-list ul {
    padding: 0;
  }
  .free-courses {
    display: block;
  }
  .free-courses a {
    margin-left: 20px;
  }
  .course-case {
    padding-top: 0;
  }

  .platform-cards {
    padding: 20px;
  }
  .plans img {
    width: 40%;
  }
  .ask-case h1 {
    font-size: 30px;
  }
  .footer-end {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 20px;
  }
  .footer-image {
    padding-bottom: 12px;
  }

  .newsletter {
    max-width: 400px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar ul li {
    margin-right: 9px;
  }
  .navbar-two {
    height: 80px;
  }
  .skills-head ul li {
    font-size: 12px;
    margin-right: 15px;
  }
  .buttons {
    display: none;
  }

  .skills-head {
    align-items: center;
  }

  .where-teams {
    padding: 0;
    padding-top: 5rem;
  }

  .card {
    border-radius: 0;
  }
  .card-text h1 {
    font-size: 20px;
  }
  .languages-logo ul {
    grid-template-columns: repeat(5, 1fr);
  }

  .languages-logo ul li {
    margin: 33px 10px;
  }

  .brands img {
    height: 20px;
  }

  #order-skill {
    order: 1;
  }

  .card,
  .popular,
  .customers,
  .skill-case,
  .upskill,
  .percentages,
  .code-course,
  .platform-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-case {
    grid-template-columns: repeat(2, 1fr);
  }
  .small-cards {
    grid-template-columns: repeat(2, 200px);
    padding: 3rem;
  }
  .contact-case {
    grid-template-columns: repeat(1, 590px);
    padding: 2rem;
  }

  .plans-cards {
    grid-template-columns: repeat(3, 250px);
  }

  .code-course {
    padding: 20px;
  }
  .skill-case {
    margin-left: 10px;
  }
  .experience-list ul {
    padding: 0;
  }
  .free-courses {
    display: block;
  }
  .free-courses a {
    margin-left: 20px;
  }
  .course-case {
    padding-top: 0;
  }

  .platform-cards {
    padding: 20px;
  }
  .plans img {
    width: 40%;
  }
  .ask-case h1 {
    font-size: 30px;
  }
  .footer-end {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 20px;
  }
  .footer-image {
    padding-bottom: 12px;
  }

  .newsletter {
    max-width: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .skills-head ul li {
    font-size: 13px;
  }

  .contact-btn {
    width: 100px;
    font-size: x-small;
  }
  .free-btn {
    width: 100px;
    font-size: x-small;
  }

  .popular {
    padding: 10px;
  }
  .brands img {
    height: 30px;
  }
  .languages-logo ul {
    grid-template-columns: repeat(6, 1fr);
  }
  .card,
  .popular,
  .skill-case,
  .upskill {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-case,
  .platform-cards,
  .code-course,
  .customers,
  .percentages {
    grid-template-columns: repeat(3, 1fr);
  }

  .platform-cards {
    padding: 20px;
  }
  .small-cards {
    grid-template-columns: repeat(4, 230px);
    padding: 3rem;
  }
  .contact-case {
    grid-template-columns: repeat(2, 470px);
    padding: 2rem;
  }

  .plans-cards {
    grid-template-columns: repeat(3, 300px);
  }

  .code-course {
    padding: 20px;
  }
  .skill-case {
    margin-left: 10px;
  }
  .experience-list ul {
    padding: 0;
  }
  .free-courses {
    display: block;
  }
  .free-courses a {
    margin-left: 20px;
  }
  .plans img {
    width: 40%;
  }
  .ask-case h1 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {

    .skills-head ul li {
    margin-right: 30px;
  }
  .languages-logo ul {
    grid-template-columns: repeat(5, 1fr);
  }
  .platform-cards {
    padding: 20px;
  }
  .small-cards {
    padding: 3rem;
  }
  .experience {
    padding: 1rem;
  }

  .footer-case {
    grid-template-columns: repeat(3, 1fr);
  }
}
