@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@800&display=swap");

.font-bitter {
  font-family: "Bitter", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.inline-flex {
    display: inline-flex;
}
.space-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-p {
  padding: 10px;
}

.pointer {
  cursor: pointer;
}

.card-element p {
  font-size: 30px;
  color: blue;
}

.p-font {
  font-family: sans-serif;
}

.text-center {
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
.p-20 {
  padding: 20px;
}
